{% load static %}

<style>
    body {
        background-color: #f2f2f2;
        font-family: Arial, sans-serif;
    }

    h1 {
        text-align: center;
        color: #2e8b57;
        font-size: 28px;
        margin-top: 50px;
    }

    p {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        max-width: 500px;
        margin: 20px auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        font-size: 16px;
        color: #333;
    }

    a {
        display: block;
        text-align: center;
        margin-top: 20px;
        font-size: 16px;
        color: #ffffff;
        background-color: #4CAF50;
        padding: 10px 15px;
        text-decoration: none;
        border-radius: 5px;
        max-width: 200px;
        margin: 20px auto;
    }

    a:hover {
        background-color: #45a049;
    }
</style>
<h1>Booking Success!</h1>
{% if restaurant_name %}
    <p>Your booking for the restaurant "{{ restaurant_name }}" was successful!<br>
        Area: "{{ Area }}"<br>
        Address: "{{ Address }}"<br>
        Cuisine: "{{ Cuisine }}"<br>
        Booking Date: "{{ booking_date }}"<br>
        Number of Guests: "{{ num_guests }}" </p>
        <p>Thank you for choosing us!</p>
    
{% endif %}
<a href="{% url 'home' %}">Go back to home</a>
